<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Lucas Torres Portfolio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="assets/images/lticon.png">

        <!--Google Font link-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
        <!--font-family: 'Knewave', cursive;-->


        <link rel="stylesheet" href="assets/css/animate.css">
        <link rel="stylesheet" href="assets/css/iconfont.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/bootsnav.css">
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">

        <!-- xsslider slider css -->


        <!--<link rel="stylesheet" href="assets/css/xsslider.css">-->




        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                </div>
            </div>
        </div><!--End off Preloader -->


        <div class="culmn">
            <!--Home page style-->


            <nav class="navbar navbar-default bootsnav navbar-fixed black no-background">
                <div class="container">  

                    <div class="attr-nav">
                        <ul>
                            <li class="side-menu"><a href="#"><i class="fa fa-bars fa-2x"></i></a></li>
                        </ul>
                    </div>  


                    <!-- Start Header Navigation -->
                    <div class="navbar-header">

                        <a class="navbar-brand wow fadeInLeft" href="https://www.linkedin.com/in/lucas-torres-044513153/" target="_blank">
                            LUCAS TORRES
                        </a>

                    </div>
                    <!-- End Header Navigation -->
                </div>   


                <!-- Start Side Menu -->
                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <div class="widget">
                        <h6 class="title">Lucas Torres Portfolio</h6>
                        <ul class="link main-nav">
                            <li><a href="/">home</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h6 class="title">Additional Links</h6>
                        <ul class="link">
                            <li><a href="http://klamar.ipd10.com/" target="_blank">Kendrik Lamar</a></li>
                            <li><a href="http://mrcorte.ipd10.com/" target="_blank">Mr. Corte Barbershop</a></li>
                            <li><a href="http://bored.ipd10.com/" target="_blank">Bored mini games</a></li>
                            <li><a href="http://forum.ipd10.com/" target="_blank">Marketing forum website</a></li>
                        </ul>
                    </div>
                </div>
                <!-- End Side Menu -->
            </nav>
            <!--Home Sections-->
            <section id="home" class="home">
                <div class="container">
                    <div class="row">
                        <div class="main_home">
                            <div class="col-sm-6">
                                <div class="home-shadow text-right">
                                    <img src="assets/images/shadow-img.png" alt="" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="main" class="home_text text-left is-loading">
                                    <h4>Hi, I'm Lucas and I'm a creative</h4>
                                    <h1 class="is-loading title">#DEVELOPER</h1>
                                    <div class="about_socail m-top-10">
                                        <ul class="list-inline text-center wow fadeInRight">
                                            <span class="divider"></span>
                                            <li><a href="https://www.facebook.com/lucas.torres.16547" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/lucas-torres-044513153/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                                            <span class="divider"></span>
                                        </ul>
                                    </div>
                                </div>              
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->

            <!--Portfolio Section-->
            <section id="portfolio" class="portfolio bg-white roomy-20">
                <h3 class="list-inline text-center wow fadeInRight">Marketing forum application</h3>
                <p class="list-inline text-center wow fadeInRight">Collaborative full PHP project implementing mySQL database, password reset, error logs, AJAX pagination and more.</p>
                <a href="https://github.com/Mojganahk/PHP-Project-Message-Board-" target="_blank" class="btn-primary">github code</a>
                <a href="http://forum.ipd10.com/" target="_blank" class="btn-primary">live version</a><br>
                    <div class="container">
                        <div class="row">
                            <div class="gallery">
                                <div class="gallery-cell">
                                    <img src="assets/images/gallery-forum1.jpg" alt="forum1" />
                                </div>
                                <div class="gallery-cell">
                                    <img src="assets/images/gallery-forum2.jpg" alt="forum2" />
                                </div>
                                <div class="gallery-cell">
                                    <img src="assets/images/gallery-forum3.jpg" alt="forum3" />
                                </div>
                                <div class="gallery-cell">
                                    <img src="assets/images/gallery-forum4.jpg" alt="forum4" />
                                </div>
                                <div class="gallery-cell">
                                    <img src="assets/images/gallery-forum5.jpg" alt="forum5" />
                                </div>
                            </div>
                        </div><!-- End off row -->
                    </div><!-- End off container -->
            </section><!-- End off portfolio Section -->
            <!--Contact Section-->
            <section id="contact" class="contact bg-black roomy-10">
                <div class="container">
                    <div class="row">
                        <div class="main_contact">
                            <div class="col-md-6 wow fadeInLeft">
                                <div class="head_title">
                                    <h5 class="text-center m-top-10"><span class="divider"></span> Got question?<span class="divider"></span></h5>
                                </div>
                                <form class="m-top-10" form action="takeform.php" method="POST">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="your name" name="realname">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="your e-mail" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="your subject" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5" placeholder="your message" name="body"></textarea>
                                    </div>
                                    <div class="form_btn text-right m-top-10 popup" onclick="myFunction()">
                                        <button type="submit" class="btn btn-primary" name="send" value="Send Your Message">Send<span class="popuptext" id="myPopup">Message in progress</span></button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <div class="contact_content wow fadeInRight">
                                    <div class="head_right m-top-100">
                                        <h2>contact</h2>
                                    </div>
                                    <div class="contact_content_text">
                                        <h5 class="contact_content_text m-top-100">Let's keep in touch!</h5>
                                        <h5>I'd love to hear from you,</h5>
                                        <h5>let's see what we can do together.</h5>

                                        <h5>Montreal, QC</h5>
                                        <h5>Phone: 514-442-2257</h5>
                                        <h5>Email: torresjuanlucas@gmail.com</h5>
                                        <div class="copyright text-center m-top-120">
                                            <h5 class="wow fadeInRight">Made by <a href="https://www.linkedin.com/in/lucas-torres-044513153/" target="_blank">Lucas Torres</a> 2017. All Rights Reserved</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





        </div>

        <!-- JS includes -->

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>
        <script src="assets/js/bootsnav.js"></script>


        <script src="assets/js/landing.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

        <script>
                                        // When the user clicks on div, open the popup
                                        function myFunction() {
                                            var popup = document.getElementById("myPopup");
                                            popup.classList.toggle("show");
                                        }
        </script>
        <script>
            $(function () {

                var $gallery = $('.gallery').flickity({
                    cellSelector: '.gallery-cell'
                })

            });
        </script>
    </body>
</html>

